.owl-carousel{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15vw;
  display: flex;
  justify-content: space-between;
}

.slider-item{
  width: 100%;
  height: 15vw;
  overflow: hidden;
  cursor: pointer;
}

.slider-item:hover img{
  transform: scale(1.1);
  transition: .3s;
}

.slider-item img{
  width: 100%;
  height: auto;
}